/*
LABORATORY EXERCISE #4

Objective:
Edit this CSS file to design and style the different web pages.

Important:
You are NOT allowed to modify or change any of the HTML files.
All design and layout changes must be done using CSS only.

Guidelines:
1. Some elements do not have classes or IDs (for example, the list of steps in making coffee).
   To style these elements, use contextual selectors, element selectors,
   attribute selectors, or other appropriate CSS selector techniques.

2. Before writing your CSS, it is highly recommended to create a simple
   wireframe or layout plan. This will help you organize your design,
   improve consistency, and ensure that all members of your group
   are aligned and on the same page regarding the overall design.

3. You are not required to style every single class or ID.
   Your main goal is to create a website that is visually appealing,
   well-organized, and user-friendly.

Focus on applying proper CSS techniques such as:
- Typography
- Spacing (margin and padding)
- Layout
- Colors
- Alignment

*/



/* ASSETS

COLORS:

------------- backgrounds / bands-------------
#a38a59 - Grey Orange
#bb6d46 - Dark Grey Orange
#c5b388 - Lighter Grey Orange
#e3c19d - Pastel Grey Orange
#712f2e - Dull Red                   ;use for bands mainly, don't use as bg color

------------- small details -------------
#bdb487 - Light Brown                ;use for lines 
#cfc49c - Beige                      ;can be used for bands
#c5b388 - Lighter Grey Orange
#8a171f - Red
#927674 - Grey Red
#282120 - Dark grey Red
#9ca795 - Grey green/blueish

------------- TEXTS -------------
#f5eee6 - off white (orange tinge)    ; use for paragraphs / title
#181716 - black (dark grey)           ; use for accent 


 TITLES and EMPHASIS FONT
 {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  PARAGRAPH FONT
  {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
  }
 

 */

 /* Importing the two fonts */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');




